<% @blabs.each do |blab| %>
  <div class="link row clearfix">
    <h2>
        <%= link_to blab.title, blab %><br>
        <small class="author">Submitted <%= time_ago_in_words(blab.created_at) %> ago by <%= blab.user.email %></small>
    </h2>
  </div>
<% end %>
